$textSize: 1.4rem;
$radius: 0.5rem;

.textbox {

  border: 0.1rem solid lightgrey;
  border-radius: $radius;
  padding: 0.6rem 0.5rem 0.4rem 0.5rem;

  &.focused {
    border-color: lightskyblue;
  }

  &.error {
    border-color: red;
  }

  label {
    display: none;
  }

  textarea {
    line-height: $textSize;
    font-size: $textSize;
    padding: 0;
    resize: none;
    width: 100%;
    border: none;
    box-shadow: none;

    &:focus {
      outline: none;
    }

  }

}

